<% provide(:title, 'Sign up') %>

<div class='signin-up' align='center'>
<h1>Sign up</h1>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, placeholder: "Name" %>

      <%= f.email_field :email, placeholder: "Email address" %>

      <%= f.password_field :password, placeholder: "Create a password" %>

      <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>

      <%= f.submit "Create my account" %>
    <% end %>
    <p>Already signed up ? <%= link_to "Sign in here", login_path %></p>
</div>
