<header>
  <div>
    <nav>
      <ul class='topnav'>
        <li><%= image_tag "home-logo.png", size: "25x25" %></li>
        <% if logged_in? %>
          <li class="active"><%= link_to "LUNCH SPOT", current_user %></li>
            <li class="dropdown">
              <a href="javascript:void(0)">My Account</a>
                <div class="dropdown-content">
                  <%= link_to "Profile", current_user %>
                  <%= link_to "Settings", edit_user_path(current_user) %>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </div>
            </li>
         <% else %>
           <li class="active"><%= link_to "LUNCH SPOT", root_path %></li>
           <li style="float:right"><%= link_to "About", about_path %></li>
           <li style="float:right"><%= link_to "Contact", contact_path %></li>
         <% end %>
      </ul>
    </nav>
  </div>
</header>
